<div class="padding-sm padding-md@lg">
    <ul class="grid justify-between">
        <li class="col-11">
            <div class="subnav subnav--expanded@sm js-subnav">
                <button class="btn btn--subtle margin-y-sm subnav__control js-subnav__control">
                    <span>Mostra Categories</span>
                    <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true" viewBox="0 0 12 12">
                        <polyline points="0.5 3.5 6 9.5 11.5 3.5" fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></polyline>
                    </svg>
                </button>
                <div class="subnav__wrapper js-subnav__wrapper">
                    <nav class="subnav__nav justify-center">
                        <button class="subnav__close-btn js-subnav__close-btn" aria-label="Close navigation">
                            <svg class="icon "><use href="#close"></use></svg>
                        </button>
                        <ul class="subnav__list">
                            <li class="subnav__item">
                                <a class="subnav__link" href="/iredadmin/system/settings" >System Settings</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link" href="/iredadmin/system/spampolicy">
                                    <span class="color-contrast-high font-italic">Global Spam Policy</span>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link" href="/iredadmin/system/wblist">Whitelists & Blacklists</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link" href="/iredadmin/system/greylisting">Greylisting</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link" aria-current="page" href="/iredadmin/system/throttle">
                                    {{!-- <span class="color-contrast-high font-italic">Profile of user:</span> --}}
                                    <span class="color-contrast-high font-italic font-bold ">Throttling</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </li>
        <li class="col-1 content-center">
            <div class="app-ui__fix-menu ">
                <menu class="menu-bar menu-bar--expanded@sm js-menu-bar">
                    <li class="menu-bar__item menu-bar__item--trigger js-menu-bar__trigger" role="menuitem" aria-label="More options">
                        <svg class="icon menu-bar__icon" aria-hidden="true" viewBox="0 0 16 16">
                            <circle cx="8" cy="7.5" r="1.5"/>
                            <circle cx="1.5" cy="7.5" r="1.5"/>
                            <circle cx="14.5" cy="7.5" r="1.5"/>
                        </svg>
                    </li>
                    <li class="menu-bar__item menu-bar__item--hide" role="menuitem">
                        <a class="js-modal" data-content="/iredadmin/view/ldif/user/postmaster@melindro.org">
                            <svg class="icon menu-bar__icon" aria-hidden="true">
                                <use href="#file-code-filled"></use>
                            </svg>
                            
                        </a>
                        <span class="menu-bar__label">LDIF view</span>
                    </li>
                    <li class="menu-bar__item menu-bar__item--hide" role="menuitem">
                        <a class="text-decoration-none" href="/iredadmin/download/ldif/user/postmaster@melindro.org">
                            <svg class="icon menu-bar__icon" aria-hidden="true" >
                                <use href="#file-download-filled"></use>
                            </svg>
                        </a>
                        <span class="menu-bar__label">LDIF download</span>


                    </li>
                    <li class="menu-bar__item menu-bar__item--hide" role="menuitem">
                        <a class="text-decoration-none" href="/iredadmin/activities/sent/user/postmaster@melindro.org">
                        <svg class="icon menu-bar__icon" aria-hidden="true">
                            <use href="#file-analytics-filled"></use>
                        </svg>
                        </a>
                        <span class="menu-bar__label">Activities</span>
                    </li>
                </menu> 
            </div>
        </li>
    </ul>
</div>

<div class="container padding-top-sm">
    <div class="tabs-v3 js-tabs">
        <ul class="tabs-v3__controls js-tabs__controls" aria-label="Tabs Interface">
            <li>
                <a href="#out_panel" class="tabs-v3__control" aria-selected="true">
                    <svg class="icon icon--xs  margin-right-2xs"><use href="#plane"></use></svg>
                    <span>Throttle outbound mails</span>
                </a>
            </li>
            <li>
                <a href="#profile_aliases" class="tabs-v3__control" >
                    <svg class="icon icon--xs  margin-right-2xs"><use href="#envelope"></use></svg>
                    <span>Throttle inbound mails</span>
                </a>
            </li>
        </ul>
        <div class="tabs-v3__panels js-tabs__panels">
            <section class="tabs-v3__panel js-tabs__panel" id="out_panel" role="tabpanel" aria-labelledby="tab-out_panel">
                <div class="">
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="enable_outbound_throttling">Throttle outbound mails</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <div class="flex inline-flex items-center">
                        <div class="switch">
                        <input name="enable_outbound_throttling" id="enable_outbound_throttling" type="checkbox" class="switch__input " required="">
                        <label class="switch__label" for="enable_outbound_throttling" aria-hidden="true">On</label>
                        <div class="switch__marker" aria-hidden="true"></div>
                    </div>
                        
                    </div>
                    
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="outbound_period">Period of time</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="outbound_period_1" name="outbound_period" class="radio  " value="86400" checked="">
                    <label class="text-sm padding-bottom-2xs" for="outbound_period_1">1 Day</label>
                    
                            </li><li>
                            <input type="radio" id="outbound_period_2" name="outbound_period" class="radio  " value="3600">
                    <label class="text-sm padding-bottom-2xs" for="outbound_period_2">1 Hour</label>
                    
                            </li><li>
                            <input type="radio" id="outbound_period_3" name="outbound_period" class="radio  " value="60">
                    <label class="text-sm padding-bottom-2xs" for="outbound_period_3">1 Minute</label>
                    
                            </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="outbound_period" id="outbound_period_3">
                        <label class="text-sm">Custom:</label>
                        <div class="input-group">
                            <input type="text" class="form-control text-sm margin-left-2xs" size="10" name="custom_outbound_period" value="">
                            <div class="input-group__tag">Seconds</div>
                        </div>
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="outbound_max_msgs">Number of max outbound emails</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="outbound_max_msgs_1" name="outbound_max_msgs" class="radio  " value="0" checked="">
                    <label class="text-sm padding-bottom-2xs" for="outbound_max_msgs_1">Unlimited</label>
                    
                            </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="outbound_max_msgs">
                        <label class="text-sm">Custom:</label>
                        <input type="text" class="form-control text-sm margin-left-2xs" name="custom_outbound_max_msgs" size="10" value="">
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="outbound_max_quota">Cumulative size of all outbound emails</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="outbound_max_quota_1" name="outbound_max_quota" class="radio  " value="0" checked="">
                    <label class="text-sm padding-bottom-2xs" for="outbound_max_quota_1">Unlimited</label>
                    
                            </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="outbound_max_quota">
                        <label class="text-sm ">Custom:</label>
                        
                    
                        
                    
                                    
                        
                    <div class="input-group">
                    <input type="text" id="custom_{{ inout_type }}_max_quota" name="custom_{{ inout_type }}_max_quota" value="" size="10" class="form-control text-sm margin-left-2xs " placeholder=""><div class="input-group__tag">
                            
                    <div class="select inline-block js-select" data-trigger-class="reset">
                        <select class="select__input reset hide" name="custom_{{ inout_type }}_max_quotaUnit" id="custom_{{ inout_type }}_max_quotaUnit">
                            
                                    <option value="B">B</option>
                                    <option value="KB">KB</option>
                                    <option value="MB" selected="">MB</option>
                                    <option value="GB">GB</option>
                                    <option value="TB">TB</option>
                                    <option value="PB">PB</option>
                                    <option value="EB">EB</option>
                                    <option value="ZB">ZB</option>
                                    <option value="YB">YB</option>
                            
                        </select>
                        <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true" style="display: none;"><use href="#caret"></use></svg>
                    <button type="button" class="js-select__button select__button reset" aria-label="MB" aria-expanded="false" aria-controls="custom_{{ inout_type }}_max_quotaUnit-dropdown"><span aria-hidden="true" class="js-select__label select__label">MB</span><svg class="icon icon--2xs margin-left-2xs" aria-hidden="true"><use href="#caret"></use></svg></button><div class="js-select__dropdown select__dropdown select__dropdown--up" aria-describedby="custom_{{ inout_type }}_max_quotaUnit-description" id="custom_{{ inout_type }}_max_quotaUnit-dropdown" style="max-height: 615.734375px;"><ul class="select__list" role="listbox"><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="B" aria-selected="false" data-index="0">B</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="KB" aria-selected="false" data-index="1">KB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="MB" aria-selected="true" data-index="2">MB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="GB" aria-selected="false" data-index="3">GB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="TB" aria-selected="false" data-index="4">TB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="PB" aria-selected="false" data-index="5">PB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="EB" aria-selected="false" data-index="6">EB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="ZB" aria-selected="false" data-index="7">ZB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="YB" aria-selected="false" data-index="8">YB</button></li></ul></div></div>
                        </div></div>

                
                        <span class="text-xs color-contrast-medium"></span>
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="outbound_msg_size">Max size of single outbound email</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="outbound_msg_size_1" name="outbound_msg_size" class="radio  " value="0" checked="">
                    <label class="text-sm padding-bottom-2xs" for="outbound_msg_size_1">Unlimited</label>
                    
                            </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="outbound_msg_size">
                        <label class="text-sm">Custom:</label>
                        
                    
                        
                    
                                    
                        
                    <div class="input-group">
                    <input type="text" id="custom_{{ inout_type }}_msg_size" name="custom_{{ inout_type }}_msg_size" value="" size="10" class="form-control text-sm margin-left-2xs " placeholder=""><div class="input-group__tag">
                            
                    <div class="select inline-block js-select" data-trigger-class="reset">
                        <select class="select__input reset hide" name="custom_{{ inout_type }}_msg_sizeUnit" id="custom_{{ inout_type }}_msg_sizeUnit">
                            
                                    <option value="B">B</option>
                                    <option value="KB">KB</option>
                                    <option value="MB" selected="">MB</option>
                                    <option value="GB">GB</option>
                                    <option value="TB">TB</option>
                                    <option value="PB">PB</option>
                                    <option value="EB">EB</option>
                                    <option value="ZB">ZB</option>
                                    <option value="YB">YB</option>
                            
                        </select>
                        <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true" style="display: none;"><use href="#caret"></use></svg>
                    <button type="button" class="js-select__button select__button reset" aria-label="MB" aria-expanded="false" aria-controls="custom_{{ inout_type }}_msg_sizeUnit-dropdown"><span aria-hidden="true" class="js-select__label select__label">MB</span><svg class="icon icon--2xs margin-left-2xs" aria-hidden="true"><use href="#caret"></use></svg></button><div class="js-select__dropdown select__dropdown select__dropdown--up" aria-describedby="custom_{{ inout_type }}_msg_sizeUnit-description" id="custom_{{ inout_type }}_msg_sizeUnit-dropdown" style="max-height: 718.78125px;"><ul class="select__list" role="listbox"><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="B" aria-selected="false" data-index="0">B</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="KB" aria-selected="false" data-index="1">KB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="MB" aria-selected="true" data-index="2">MB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="GB" aria-selected="false" data-index="3">GB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="TB" aria-selected="false" data-index="4">TB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="PB" aria-selected="false" data-index="5">PB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="EB" aria-selected="false" data-index="6">EB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="ZB" aria-selected="false" data-index="7">ZB</button></li><li><button type="button" class="reset js-select__item select__item select__item--option" role="option" data-value="YB" aria-selected="false" data-index="8">YB</button></li></ul></div></div>
                        </div></div>

                
                        <span class="text-xs color-contrast-medium"></span>
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tabs-v3__panel js-tabs__panel hide" id="in_panel" role="tabpanel" aria-labelledby="tab-in_panel">
                <div class="">
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="enable_inbound_throttling">Throttle inbound mails</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <div class="flex inline-flex items-center">
                        <div class="switch">
                        <input name="enable_inbound_throttling" id="enable_inbound_throttling" type="checkbox" class="switch__input " required="">
                        <label class="switch__label" for="enable_inbound_throttling" aria-hidden="true">On</label>
                        <div class="switch__marker" aria-hidden="true"></div>
                    </div>
                        
                    </div>
                    
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="inbound_period">Period of time</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="inbound_period_1" name="inbound_period" class="radio  " value="86400" checked="">
                    <label class="text-sm padding-bottom-2xs" for="inbound_period_1">1 Day</label>
                    
                            </li><li>
                            <input type="radio" id="inbound_period_2" name="inbound_period" class="radio  " value="3600">
                    <label class="text-sm padding-bottom-2xs" for="inbound_period_2">1 Hour</label>
                    
                            </li><li>
                            <input type="radio" id="inbound_period_3" name="inbound_period" class="radio  " value="60">
                    <label class="text-sm padding-bottom-2xs" for="inbound_period_3">1 Minute</label>
                    
                            </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="inbound_period" id="inbound_period_3">
                        <label class="text-sm">Custom:</label>
                        <div class="input-group">
                            <input type="text" class="form-control text-sm margin-left-2xs" size="10" name="custom_inbound_period" value="">
                            <div class="input-group__tag">Seconds</div>
                        </div>
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="inbound_max_msgs">Number of max inbound emails</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="inbound_max_msgs_1" name="inbound_max_msgs" class="radio  " value="0" checked="">
                    <label class="text-sm padding-bottom-2xs" for="inbound_max_msgs_1">Unlimited</label>
                    
                            </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="inbound_max_msgs">
                        <label class="text-sm">Custom:</label>
                        <input type="text" class="form-control text-sm margin-left-2xs" name="custom_inbound_max_msgs" size="10" value="">
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="inbound_max_quota">Cumulative size of all inbound emails</label>
                                
                            </div>
                            <div class="col-7@md">
                                <ul class="flex flex-column gap-3xs">
                                    <li>
                                        <input type="radio" id="inbound_max_quota_1" name="inbound_max_quota" class="radio  " value="0" checked="">
                                        <label class="text-sm padding-bottom-2xs" for="inbound_max_quota_1">Unlimited</label>
                    
                                    </li>
                                    <li class="inline-flex items-center">
                                        <input type="radio" class="radio" name="inbound_max_quota">
                                        <label class="text-sm ">Custom:</label>

                                        <div class="input-group">
                                            <input type="text" id="custom_{{ inout_type }}_max_quota" name="custom_{{ inout_type }}_max_quota" value="" size="10" class="form-control text-sm margin-left-2xs " placeholder="" />
                                            <div class="input-group__tag">
                                                <div class="select inline-block js-select" data-trigger-class="reset">
                                                    <select class="select__input reset hide" name="custom_{{ inout_type }}_max_quotaUnit" id="custom_{{ inout_type }}_max_quotaUnit">
                                                        <option value="B">B</option>
                                                        <option value="KB">KB</option>
                                                        <option value="MB" selected="">MB</option>
                                                        <option value="GB">GB</option>
                                                        <option value="TB">TB</option>
                                                        <option value="PB">PB</option>
                                                        <option value="EB">EB</option>
                                                        <option value="ZB">ZB</option>
                                                        <option value="YB">YB</option>
                                                    </select>
                                                    <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true" style="display: none;"><use href="#caret"></use></svg>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                
                        <span class="text-xs color-contrast-medium"></span>
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-divider"></div>
                    <div class="margin-bottom-xs">
                        <div class="grid gap-2xs items-center@md">
                            <div class="col-5@md">
                                <label class="form-label" for="inbound_msg_size">Max size of single inbound email</label>
                                
                            </div>
                            <div class="col-7@md">
                                
                        <ul class="flex flex-column gap-3xs">
                        <li>
                            <input type="radio" id="inbound_msg_size_1" name="inbound_msg_size" class="radio  " value="0" checked="">
                    <label class="text-sm padding-bottom-2xs" for="inbound_msg_size_1">Unlimited</label>
                    
                        </li>
                        <li class="inline-flex items-center">
                        <input type="radio" class="radio" name="inbound_msg_size">
                        <label class="text-sm">Custom:</label>
                    <div class="input-group">
                    <input type="text" id="custom_{{ inout_type }}_msg_size" name="custom_{{ inout_type }}_msg_size" value="" size="10" class="form-control text-sm margin-left-2xs " placeholder="">
                    <div class="input-group__tag">
                            
                    <div class="select inline-block js-select" data-trigger-class="reset">
                        <select class="select__input reset hide" name="custom_{{ inout_type }}_msg_sizeUnit" id="custom_{{ inout_type }}_msg_sizeUnit">
                            
                                    <option value="B">B</option>
                                    <option value="KB">KB</option>
                                    <option value="MB" selected="">MB</option>
                                    <option value="GB">GB</option>
                                    <option value="TB">TB</option>
                                    <option value="PB">PB</option>
                                    <option value="EB">EB</option>
                                    <option value="ZB">ZB</option>
                                    <option value="YB">YB</option>
                            
                        </select>
                        <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true" style="display: none;"><use href="#caret"></use></svg>
                    </li></ul></div></div>
                        </div></div>

                
                        <span class="text-xs color-contrast-medium"></span>
                    </li>
                        </ul>
                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="padding-md  margin-top-md border-top">
                <div class="flex justify-between">
                    <p class="text-xs color-contrast-low">(<span class="" style="color:var(--color-error);">&nbsp;<sup><svg
                                    class="icon icon--3xs ">
                                    <use href="#asterisk"></use>
                                </svg></sup>&nbsp;</span>) #CAT Són camps obligatoris</p>
            
                    <button type="button" class="btn btn--primary" id="submit_btn">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
